# Build the documentation site:
#   pip install -r docs-requirements.txt
#   mkdocs serve      # preview on http://127.0.0.1:8000
#   mkdocs build      # render into site/
mkdocs==1.6.1
mkdocs-material==9.5.49
